
body {
    text-align: center;
    background: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100vh;
}
.xx{
	background-color:#c2cad7
	margin: 0 auto;
}


h2  {
    color: #585556;
    font-family:'SimHei' ;
}
a {
    color: #a25430;
    text-decoration:none;
}
a:hover {
    color: rosybrown;
    text-decoration:underline;
}
#zh{
	margin-top:23px;
	color: #585556;
	font-size: 15pt
	
}


#login_id {
    width:100%;
    height:100%;
    margin: 0 auto;
    margin-top: 250px;
}
#login_form h1   {
    color: #585556;
    font-family:'SimHei' ;
}

#login_form {
	margin-top: 130px;
    align:middle;
}
#login_form1{
    vertical-align: middle;
    margin-top: 30px;
}
#login_form2{
    vertical-align: middle;
}
#login_form input {
    border: 0;
    BACKGROUND-COLOR: transparent;
    BORDER-BOTTOM: #585556 1px solid;
    BORDER-LEFT: #585556 1px solid;
    COLOR: #585556;
    HEIGHT: 30px;
    font-size: 14pt
}
#login_form .loginbtn {
    BORDER-RIGHT: #585556 1px solid;
    BORDER-TOP: #585556 1px solid;
    height: 30px;
}
#login_form1 input {
    border: 0;
    BACKGROUND-COLOR: transparent;
    BORDER-BOTTOM: #585556 1px solid;
    BORDER-LEFT: #585556 1px solid;
    COLOR: #585556;
    HEIGHT: 30px;
    font-size: 14pt
}
#login_form1 .loginbtn {
    BORDER-RIGHT: #585556 1px solid;
    BORDER-TOP: #585556 1px solid;
    height: 30px;
}

#login_form2 input {
    border: 0;
    margin-top: 30px;
    BACKGROUND-COLOR: transparent;
    BORDER-BOTTOM: #585556 1px solid;
    BORDER-LEFT: #585556 1px solid;
    COLOR: #585556;
    HEIGHT: 30px;
    font-size: 14pt
}
#login_form2 .loginbtn {
    BORDER-RIGHT: #585556 1px solid;
    BORDER-TOP: #585556 1px solid;
    height: 30px;
}


.buttom_id {
 margin-top:570px;width:100%; height: 35px; background: #f5f5f5;
}
.buttom_id p{font-size: 20px;color: #000000;line-height: 45px;text-align: center;}

